<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Kate Manson : <%= @page_title %></title>
    <%= javascript_include_tag 'jquery-1.2.6.min' %>
    <%= stylesheet_link_tag 'default' %>
    <%= yield :head %>
  </head>
  <body>

    <div class="centered">
      <%= image_tag 'header.png', :alt => 'kate' %>

      <%= render :partial => "shared/menu" %>

      <div class="blackbox">
        <div class="content">
          <%= yield %>
          <div class="copyright">All images copyright Kate Manson &copy;2009</div>
        </div>
      </div>
    </div>

  </body>
</html>